section.contact {
  @include outer-container;
  margin-top: 2.369em;
  padding-left: 1em;
  padding-right: 1em;

  @include media($large-screen){
    padding-top: 1.333em;
    padding-bottom: 0.317em;
  }

  header {
    margin-top: 3.157em;
    padding-top: 0px;
    padding-bottom: 1em;
    margin-bottom: 1.777em;
    text-align: center;

    h1 { 
      font-size: $base-font-size * 2.369;
      text-align: center;
      margin-bottom: 0.563em;
    }

    .tagline {
      font-size: $base-font-size * 1.333;
    }
  }

  div.contactform {
    @include media($medium-screen) {
      padding-left: 0.563em;
      padding-right: 0.563;
    }
    @include media($large-screen){
      @include span-columns(7);
    }
      margin-bottom: 2.369em;
      padding-bottom: 0.563em;

    form {
      margin-top: 1.777;
    }

    input[type=submit] {
      margin-right: 1em;
      @include media($medium-screen) {
        margin-right: 0;
      }
    }

    p {
      font-size: ($base-font-size * 1.2);
    }

    input[type="submit"] {
      @include media($large-screen){
        float: right;
      }
    }
  }

  aside {
    margin-left: 0.75em;
    @include media($large-screen) {
      @include span-columns(4);
      @include shift(1);

      h2 {
        font-size: $base-font-size * 1.333;
      }

    }
  }

  i {
    color: $action-color;
    margin-right: 0.317em;
  }

  .hidden {
    display: none;
  }
}

