footer {
  width: 100%;
  height: 5.61em;
  clear: both;
  margin-top: 2.369em;
  padding-left: 1.333em;
  padding-right: 1.333em;

  @include media($large-screen) {
    padding-left: 3.157em;
    padding-right: 3.157em;
  }

  padding-top: 1.333em;
  border-top: 1px solid $light-gray;

  .copyright {
    float: left;
  }

  .social {
    float: right;

    li {
      display: inline;
      @include media($large-screen) {
        margin-left: 0.563em;
      }
    }
  }

  i.fa {
    font-size: $base-font-size * 1.333;
    margin-right: 0;
  }
}

