section.portfolio {
  @include outer-container;
  margin-top: 2.369em;

  @include media($large-screen) {
    padding-top: 1.333em;
    padding-bottom: 0.317em;
  }

  article {

    @include media($large-screen) {
      @include span-columns(12);
      margin-bottom: 3.157em;
      margin-top: 2.369em;
      padding-top: 0.563em;
    }

    div.screenshot {
      text-align: center;
      @include media($large-screen) {
        @include span-columns(5 of 12);
      }
      img {
        margin-bottom: 1.333em;
        border: 2px solid lighten($medium-gray, 15);
        padding: 0.238em;
        width: 90%;
      }
    }
    div.description {

      @include media($large-screen){
        @include span-columns(7 of 12);
      }

      padding-left: 1em;

      header {
        padding-top: 0px;
        padding-left: 0px;
      }

      i {
        margin-right: 0.317em;
      }
    }

    h1 {
      font-size: $base-font-size * 1.333;
      @include media($large-screen) {
        font-size: ($base-font-size * 1.777);
      }
      color: $base-font-color;
    }

    h2 {
      font-size: $base-font-size * 1;
      margin-top: 1em;
      line-height: $base-line-height;
      @include media($large-screen) {
        font-size: ($base-font-size * 1.333);
      }
    }

    ul {
      list-style-position: inside;
      list-style-type: square;
      margin-bottom: 1em;
    }
  }
}

header.lead {

  margin-top: 3.157em;
  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
    padding-bottom: 1em;
    margin-bottom: 1.777em;
  }


  h1 {
    @include media($large-screen) {
      font-size: $base-font-size * 2.369;
      text-align: center;
    }
  }
 

  p {
    font-size: $base-font-size;
    @include media($large-screen) {
      font-size: ($base-font-size * 1.333);
      line-height: 1.777em;
      padding-top: 0;
    }
  }
}
