<footer>
<div class="copyright">&copy; 2015 Anthony Candaele</div>
<span class="contact"><a href="tel:0032498137260"><i class="fa fa-phone-square"></i> +32 498 13 72 60</a></span><span class="contact"><a href="mailto:info@anthonycandaele.com">&nbsp;&nbsp;<i class="fa fa-envelope"></i> info@anthonycandaele.com</a></span>
  <div class="social">
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
    </ul>
  <div>
</footer>
