<footer>
<div class="copyright">&copy; 2015 Anthony Candaele</div>
  <div class="social">
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    </ul>
  <div>
</footer>
