<footer>
  <div class="contact">
  <ul>
    <li>&copy; 2015 Anthony Candaele</li>
    <li><a href="tel:0032498137260"><i class="fa fa-phone-square"></i> +32 498 13 72 60</a></li>
    <li><a href="mailto:info@anthonycandaele.com"><i class="fa fa-envelope"></i> info@anthonycandaele.com</a></li>
  </ul>
</div>
<div class="social">
  <ul>
    <li><a href="#"><i class="fa fa-twitter-square"></i> Follow me</a></li>
  </ul>
<div>
</footer>
