<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i>MENU</a>
    <a href="/" class="logo">
      anthony candaele
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="about.html">about</a></li>
        <li class="nav-link"><a href="projects.html">projects</a></li>
        <li class="nav-link"><a href="/blog.html">blog</a></li>
        <li class="nav-link"><a href="contact.html">contact</a></li>
      </ul>
    </nav>
  </div>
</header>

