---
title: "About"
description: "I'm taking proud of developing hand-crafted websites that work on smartphones, tablets, laptops and desktops"
---

<section class="about">
  <aside class="about">
    <%= image_tag "images/anthony_candaele-150x150.jpg" %>
  </aside>
  <article>
      <p>I'm Anthony Candaele, a web developer for more then a decade now.</p>

      <p>I'm taking proud of developing handcrafted websites, that can be used on all kinds of devices like smartphones, tablets, laptop and desktops.</p>
      <p>Because the websites are handcrafted, they are fully customized to the needs of your business.</p>
      <p>When developing a website, there are a lot of concerns to take into account, like Search Engine Optimization (SEO), performance, User Experience (UX), Responsive web design, ...</p>
      <p>But don't worry, that's why I'm here. Together, we'll get your website optimized for your business and your users.</p>
  </article>
</section>
