<div id="blog">
  <header>
    <h1>Anthony Candaele's Blog</h1>
    <p class="tagline">&ldquo;My thoughts on the craft of building websites that work.&rdquo;</p>
  </header>
  <div class="blogarticle">
    <h2><a href="blogarticle.html">The To Do List</a></h2>
    <p class="date">
    25 Maart 2014
    </p>
    <p class="summary">
    Hoodie trust fund next level Wes Anderson, actually cronut paleo American Apparel. Biodiesel tattooed Thundercats, sriracha umami meggings iPhone skateboard pickled High Life butcher.</p>
    <div class="line">&nbsp;</div>
  </div>
  <div class="blogarticle">
    <h2><a href="#">How Do I Learn</a></h2>
    <p class="date">
    25 Maart 2014
    </p>
    <p class="summary">
    Hoodie trust fund next level Wes Anderson, actually cronut paleo American Apparel. Biodiesel tattooed Thundercats, sriracha umami meggings iPhone skateboard pickled High Life butcher.</p>
    <div class="line">&nbsp;</div>
  </div>
  <div class="blogarticle">
    <h2><a href="#">Strive For The Uncomfortable</a></h2>
    <p class="date">
    25 Maart 2014
    </p>
    <p class="summary">
    Hoodie trust fund next level Wes Anderson, actually cronut paleo American Apparel. Biodiesel tattooed Thundercats, sriracha umami meggings iPhone skateboard pickled High Life butcher.</p>
    <div class="line">&nbsp;</div>
  </div>
</div>
