<div id="blog">
  <article class="blogpost">
    <footer>
      <p class"date">25 Maart 2014</p>
    </footer>
    <header>
      <h1>The To Do List</h1>
    </header>
    <div class="line">&nbsp;</div>
    <div class="bodytext">
      <p>Disrupt sartorial cold-pressed, gentrify put a bird on it Truffaut pug kitsch raw denim iPhone. Taxidermy listicle pickled bitters, kogi normcore quinoa scenester photo booth McSweeney's health goth before they sold out messenger bag. Typewriter Williamsburg sustainable cold-pressed cliche. Cold-pressed Austin cray Brooklyn, Godard PBR&amp;B beard. Ethical taxidermy Williamsburg PBR&amp;B twee forage Tumblr pop-up quinoa. Letterpress Godard umami street art. Chambray selvage blog ethical, Kickstarter before they sold out cardigan Marfa McSweeney's art party messenger bag bicycle rights mixtape banh mi hoodie.</p>
      <p>Disrupt sartorial cold-pressed, gentrify put a bird on it Truffaut pug kitsch raw denim iPhone. Taxidermy listicle pickled bitters, kogi normcore quinoa scenester photo booth McSweeney's health goth before they sold out messenger bag. Typewriter Williamsburg sustainable cold-pressed cliche. Cold-pressed Austin cray Brooklyn, Godard PBR&amp;B beard. Ethical taxidermy Williamsburg PBR&amp;B twee forage Tumblr pop-up quinoa. Letterpress Godard umami street art. Chambray selvage blog ethical, Kickstarter before they sold out cardigan Marfa McSweeney's art party messenger bag bicycle rights mixtape banh mi hoodie.</p>
      <p>Disrupt sartorial cold-pressed, gentrify put a bird on it Truffaut pug kitsch raw denim iPhone. Taxidermy listicle pickled bitters, kogi normcore quinoa scenester photo booth McSweeney's health goth before they sold out messenger bag. Typewriter Williamsburg sustainable cold-pressed cliche. Cold-pressed Austin cray Brooklyn, Godard PBR&amp;B beard. Ethical taxidermy Williamsburg PBR&amp;B twee forage Tumblr pop-up quinoa. Letterpress Godard umami street art. Chambray selvage blog ethical, Kickstarter before they sold out cardigan Marfa McSweeney's art party messenger bag bicycle rights mixtape banh mi hoodie.</p>
    </div>
  </article>
</div>
