---
title: Welcome to Middleman
---

<article id="home">
  <div id="hero">
    <header>
      <h1>Handcrafted websites and applications</h1>
    </header>
  </div>
  <div id="boxes">
    <div class="box">
      <h2>About My Work</h2>
      <div class="line">&nbsp;</div>
      <p>I'm Anthony Candaele, a web developer specialized in building web applications with Ruby on Rails. I'm taking proud in building custom websites that are tailored to your business and needs.</p>
    </div>
    <div class="box">
      <h2>Latest Project</h2>
      <div class="line">&nbsp;</div>
      <h3>Action Maker</h3>
        <%= image_tag "homepage_actionmaker.jpg" %>
        <p>Event agency organizing teambuilding events and bachelor parties.</p>
    </div>
    <div class="box">
      <h2>Blog</h2>
      <div class="line">&nbsp;</div>
        <% page_articles.each_with_index do |article, i| %>
          <p><%= link_to article.title, article %></p>
        <% end %>
    </div>
  </div>
</article>
